       header.main {
            text-align: center;
            background: url(http://i.imgur.com/cdn8jM8.png);
            background-size: 2000px 145px;
            background-repeat: no-repeat;
            background-position: top;
            padding: 0px;
            margin:0px;
            position: relative;
       }
       header.main h1 {
        margin:0;
        padding:20px;
        font-size: 70px
       }
       a{
         color:black;
         text-decoration: none;
         font-size: 20px ;
       }
     
       ul {
            padding: 10px;
            background: black;

       }
       li{
            display: inline;
            padding: 0px 40px 0px 40px;
       }
      body {
        text-align: block; 
        font-family: garamond;
        background: white;
        margin: 0;

      }
      header.main ul.other li a {
        color:white;
      }

      article.topic {
        padding: 20px 200px 20px 200px;

      }
      
      article.topic h1{
        font-size: 50px;
        text-align: center;
        padding: 0;

      }

      article.link header h1{
        font-size: 100px;

}
      article.link h1{
        font-size: 50px;

        text-align: center;
        padding: 10px;
        margin: 100px 0 0 0;
      }

      article.link header img.articleimage {
          border-radius: 50%;
          display:inline;
          border: 5px solid black;
          width: 200px;
          height: 200px;
          margin: 0 0 10px 580px ;


        }
        article.link footer {
          text-align: center;
        }


      article.topic header div.date {
        font-style: italic;
        font-size: 15px;
        padding:10px;
        }
        article.topic footer{
          font-size: 10px
        }
        article.topic header img.articleimage {
          border-radius: 50%;
          display:inline;
          border: 5px solid black;
          width: 200px;
          height: 200px;
          float: left;
          margin: 10px;

        }
        article.topic p {
          padding: 20px;
      }
 div.pages{
  text-align: center;
 }

div.pages a {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    line-height: 300px;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    border:5px solid black;
    margin: 0px 40px 0px 40px;
    opacity: 0.5;
    }

div.sliderframe{
  width:700px;
  padding-top:300px;
}