       header.main {
            text-align: center;
            background: url(http://i.imgur.com/cdn8jM8.png);
            background-size: 2000px 145px;
            background-repeat: no-repeat;
            background-position: top;
            padding: 0px;
            margin:0px;
            position: relative;
       }
       header.main h1 {
        margin:0;
        padding:20px;
        font-size: 70px
       }
       a{
         color:white;
         text-decoration: none;
         font-size: 20px ;
       }
     
       ul {
            padding: 10px;
            background: black;
       }
       li{
            display: inline;
            padding: 0px 40px 0px 40px;
       }
      body {
        text-align: block; 
        font-family: garamond;
        background: white;
        margin: 0;

      }

      article.topic {
        padding: 20px 200px 20px 200px;

      }
      
      article.topic h1{
        font-size: 50px;
        text-align: center;
        padding: 0;

      }

      article.topic header div.topline {
      
      }

      article.topic header div.date {
        font-style: italic;
        font-size: 15px;
        padding:10px;
        }
        article.topic footer{
          font-size: 10px
        }
        article.topic header img.articleimage {
          border-radius: 50%;
          display:inline;
          border: 5px solid black;
          width: 200px;
          height: 200px;
          float: left;
          margin: 10px;

        }
        article.topic p {
          padding: 20px;
        }