       header.main {
            text-align: center;
            background: url(http://i.imgur.com/cdn8jM8.png);
            background-size: 2000px 200px;
            background-repeat: no-repeat;
            padding: 0px;
            margin:0px;
            position: relative;
       }
       a{
         color:white;
         text-decoration: none;
         font-size: 20px ;
       }
       h1{
         font-size: 70px;
       }
     
       ul {
            padding: 0px 10px 0px 10px;
            background: black;
       }
       li{
            display: inline;
            padding: 0px 20px 0px 20px;
       }
      body {
        text-align: inline; 
        font-family: garamond;
        background: #ddccff;
        margin: 0;

      }

      article.topic {
        padding: 20px 20px 20px 20px;

      }
      
      article.topic h1{
        font-size: 30px;
        text-align: center;

      }

      article.topic header div.topline {
      
      }

      article.topic header div.date {
        font-style: italic;
        font-size: 15px;
        }